.DS_Store
node_modules
backend/images/*/*png
backend/images/*/*jpg
backend/images/*/*jpeg
backend/images/*/*webp
backend/images/*/*gif
backend/images/*/*jfif
backend/images/*/*filepart
backend/images/*/*/*png
backend/images/*/*/*jpg
backend/images/*/*/*jpeg
backend/images/*/*/*webp
backend/images/*/*/*gif
backend/images/*/*/*jfif
backend/images/*/*/*filepart
backend/images/*/*/*/*png
backend/images/*/*/*/*jpg
backend/images/*/*/*/*jpeg
backend/images/*/*/*/*webp
backend/images/*/*/*/*gif
backend/images/*/*/*/*jfif
backend/images/*/*/*/*filepart